<form>
  <h2>Log In</h2>
  <label>Email</label>
  <input id="loginControllerEmail" class="formControl">
  <div id="loginControllerPasswordGroup">
    <label>Password</label>
    <input id="loginControllerPassword" class="formControl" type="password">
  </div>
  <div id="loginControllerKeyfileGroup">
    <label>Keyfile</label>
    <input id="loginControllerKeyfile" class="formControl" type="file">
  </div>
  <button id="loginControllerSubmit" class="buttonPrimary" disabled>Login</button>
  <a id="loginControllerPasswordResetLink" class="passwordResetLink" href="/passwordReset.html">Click here to reset your password.</a>
  <script src="/scripts/loginController.js"></script>
</form>
