<form>
  <h2>Use A Reset Key</h2>
  <label>Key</label>
  <input id="resetKeyControllerKey" class="formControl">
  <label>New Password</label>
  <input id="resetKeyControllerPassword" type="password" class="formControl">
  <label>Repeat New Password</label>
  <input id="resetKeyControllerRepeatPassword" type="password" class="formControl">
  <button id="resetKeyControllerSubmit" disabled="disabled" class="buttonPrimary">Reset</button>
  <script src="/scripts/passwordResetKeyController.js"></script>
</form>
