<form>
  <h2>Register</h2>
  <label>Email</label>
  <input id="registerControllerEmail" class="formControl">
  <div id="registerControllerPasswordGroup">
    <label>Password</label>
    <input id="registerControllerPassword" class="formControl" type="password">
    <label>Repeat Password</label>
    <input id="registerControllerRepeatPassword" class="formControl" type="password">
  </div>
  <div id="registerControllerKeyfileGroup" style="display: none;">
    <label>Choose A Keyfile (Such as an image under 1 MB that only you will know is your key.)</label>
    <input id="registerControllerKeyfile" class="formControl" type="file">
  </div>
  <button id="registerControllerSubmit" class="buttonPrimary" disabled>Register</button>
  <script src="/scripts/registerController.js"></script>
</form>
